/* Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  /* Shared Style */
  .display-flex{
    display: flex;
  }
  /* Navbar Style */
  .navbar{
    justify-content: space-between;
    align-items: center;
    padding: 87px 120px;
  }
  .nav-link{
    list-style: none;
  }
  .nav-items{
    align-items: center;
  }
  .nav-item{
    text-decoration: none;
    margin-right: 32px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
  }
  .nav-tittle{
    font-size: 1.80rem;
    font-weight: 800;
  }
  /* Banner Section Style */
  .header{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 60px 120px;
  }
  .banner{
    gap: 135px;
    margin: 87px 120px;
  }
  .banner-tittle{
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .banner-description{
    font-size: 1rem;
    font-weight: 600;
  }
  .btn-primary{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(224, 44, 109, 1);
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
  }
  /* Company Section */
  .company-img{
    max-width: 1110px;
    margin: 170px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
  }
  /* product section */
  .product-containers{
    max-width: 1050px;
    margin: 100px auto;
  }
  .product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .product-card{
    padding: 17px 14px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
  .product-sub-tittle{
    font-size: 2.80rem;
    font-weight: 700;
    text-align: center;
  }
  .product-titlle{
    font-size: 1.70rem;
    font-weight: 600;
    margin: 6px;
  }
  .product-price{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin: 5px;
  }
  .product-rattimg{
    font-weight: 500;
    color: black;
    margin: 3px;
  }
  .product-description{
    color: rgba(120, 120, 133, 1);
    font-weight: 700;
    margin: 1px;
  }
  